@font-face {
  font-family: "iconfont"; /* Project id 3655561 */
  src: url('iconfont.woff2?t=1664684643094') format('woff2'),
       url('iconfont.woff?t=1664684643094') format('woff'),
       url('iconfont.ttf?t=1664684643094') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan:before {
  content: "\e600";
}

.icon-pinglun:before {
  content: "\e8b4";
}

.icon-zengjia:before {
  content: "\e626";
}

.icon-24gl-play:before {
  content: "\ea6d";
}

.icon-shoucang:before {
  content: "\e668";
}

.icon-yunxiazai:before {
  content: "\e6d1";
}

.icon-fenxiang:before {
  content: "\e602";
}

.icon-yonghu:before {
  content: "\e601";
}

.icon-clothes:before {
  content: "\e8c7";
}

